@use 'var' as *;

:root {
    --XL-fs:#{$XL-Min};
    --L-fs:#{$L-Min};
    --M-fs:#{$M-Min};
    --S-fs:#{$S-Min};
    --par-fs:#{$par-Min};
    --inter-fs:#{$inter-Min};
    --bs-body-font-family: 'Space Grotesk';
}