// ---------------------
// Variables
// ---------------------

$debug: false;

// --- colors ---
$clr10: #ffffff;
$clr11: #151515;
$clr12: #4EE1A0;
$clr13: #242424;
$clr14: #d9d9d9;
$clr15: #FF6F5B;


// $backroundGradient: (
//     98.96% 98.96% at 50% 0%,
//     #232A34 0%,
//     #181E27 100%
// );
// --- break points ---


// --- font-sizes ---

$XL-Max: 5.3rem; //88px
$XL-Mid: 4.3rem; //72px
$XL-Min: 2.5rem; //40px

$L-Max: 3rem; //48px
$L-Mid: 3rem; //48px
$L-Min: 2rem; //32px

$M-Max: 1.5rem; //24px
$M-Mid: 1.5rem; //24px
$M-Min: 1.5rem; //24px

$S-Max: 1.125rem; //24px
$S-Mid: 1.125rem; //24px
$S-Min: 1.125rem; //24px

$par-Max: 1.125rem; //18px
$par-Mid: 1.125rem; //18px
$par-Min: 1rem; //16px

$inter-Max: 1rem; //16px
$inter-Mid: 1rem; //16px
$inter-Min: 1rem; //16px